<h1>Productos:</h1>

<% @productos.each do |producto| %>
    <%= link_to producto_path(producto.id), class: 'producto' do %>
        <h2><%= producto.Nombre %></h2>
        <span>$<%= producto.Precio %></span>
    <% end %>
<% end %>